  :root {
   --color-brand: #2E2F42;
   --color-primary: #FFFFFF;
   --color-primaty-light: #F4F4FD;
  }
  
  body {
   background-color: #ffffff;
   color:#434455;
   font-family: 'Roboto', sans-serif;
   width: 1440px;
   margin-left: auto;
   margin-right: auto;
  }
  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
  }
  img {
    display: block;
    max-width: 100%;
  }
  ul {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 0;
    list-style-type: none;
  }
     /* header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 1440px;
}

.container-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1158px; 
  margin: 0 auto;
  padding: 0 15px;
}

 .header-nav{
display: flex;
align-items: center;

 }
  .logo {
    display: flex;
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    text-decoration: none; 
 }
 .accent {
  color: #2E2F42;
}
.accent:hover, 
.accent:focus .accent {
  color: #404bbf;
}

  .nav-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: flex-start;
    flex-grow: 1;
    justify-content: center;
  }
  .nav-list-item {

  }
  .nav-link {
    color: var(--SLATE, #434455);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .nav-link:hover, .nav-link:focus {
    color: #404bbf;
    }
 
      
   .address-list {
    display: inline-block;
   font-style: normal;
   }
  .address-container {
    display: flex;
    list-style-type: none;
    margin: 0%;
    align-items: flex-start;
    gap: 40px;
  }

 .address-info {
   padding: 24px 0;
 }
 .address-info:hover,.address-link:focus {
   color: #404bbf ;
 }
 .a-link {
  color: var(--SLATE, #434455);
font-size: 16px;;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
 }

   /* section effective*/
   .effective-section {
    background: #2E2F42;
    display: flex;
    padding: 188px 0;
    border-radius: 0%;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
      url(../images/people-office\ 1.jpg);  
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
  }
  .container {
    max-width: 1158px;
    margin: auto;
    padding: 0% 15px;
  }

  
 .effect-title {
    display: inline-flex;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px; 
 }
 .button-primary {
  background: #4D5AE5;
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  gap: 10px;
  height: 56px;
  cursor: pointer;
  border: none;
  border-radius: 4px; 
 }
.button {
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px;
}   
 
 .button-primary:hover {
   background-color: #404BBF;
 }
 .button-primary:focus {
    background-color: #404BBF;  
 }



 .our {
  padding: 120px 0;
 }
  .section-class {
    
   background-color: var(--color-primary);
   display: flex;
   justify-content: space-between;
   gap: 24px;
   
  }
 .title {
  color: var(--color-brand);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.72px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 8px;
 }

 .section-item {
  width: calc((100% - 72px) / 4);
 }
 .icon-section {
  border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    display: flex;
      width: 264px;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
 }
 .icon-section-2 {
 margin: 24px, 100px;
 }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

 .text {
   color: #434455;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 24px;
 }


        /* section-3 */
 .light-bt {
  background: var(--color-primaty-light);
  padding: 120px 0;
  width: 1440px;
  height: 732px;
 }
 .card {
   color: var(--color-brand);
   font-family: Roboto;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   margin-bottom: 72px;
   text-align: center;
   
 }
 .card-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 24px;
 }
 .list {
   background-color: #ffffff;
   border-radius: 0px 0px 4px 4px;
   box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px
    rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4); 
 }
 .name-info {
  padding: 32px 0;
 }
 .name {
   color: var(--color-brand);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
 }
 .prof {
   color: #434455;
   background-color: #FFFFFF;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
 }
       /* section-4 */
  .info {
    padding-top: 120px;
    padding-bottom: 120px;
  }     
 .portfolio {
   color: var(--color-brand);
   background-color: #ffffff;
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
 }
 .portfolio-info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
 }
 .portf-item {
 
  width: calc((100% - 48px) / 3);
 }
.portf-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none; 
}

 .card-content {
   color: var(--color-brand);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
 }
 .card-text {
   color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5; 
 }

 .footer-section {
   background-color: var(--color-brand);
   padding: 100px 0;
   padding-bottom: 100px;
 }
 
.logo-item {
   color: #4d5ae5;
   display: inline-block;
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-weight: 700;
   text-transform: uppercase;
   text-decoration: none;
   line-height: 1.17; 
   letter-spacing: 0.03em;
   margin-bottom: 16px;
}
.footer-text {
   color: var(--color-primaty-light);
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   max-width: 264px;   
}

.logo-footer-accent {
   color: var(--color-primaty-light); 
}

.social{
  width: 208px;
   height: 80px;
   padding-top: 100px;
   padding-bottom: 132px;
   margin: 0% auto;
}
.social-text {
   max-width: 208px;
   color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1,5;
    letter-spacing: 0.32px;
   text-decoration: none;
    justify-content: center;
   text-transform: none;
}
.social-media{
list-style-type: none;
  display: flex;
  gap: 24px;
  align-items: flex-start;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
 
}
.social-media-list{

}







.social-media-link{

}

.footer-icon {

}
